<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.green2209S_07.dao.HospitalInfoDAO">

    <!-- 병원 리스트 관련 처리 -->

    <select id="getTotRecCnt" resultType="int">
        select count(*) from hospitalinfo_s where ykiho in (select ykiho from medicalsubjectinfo_s where dgsbjtCd=#{medicalSubjectCode}) and ykiho in (select ykiho from hospitalinfo_s where
        <if test="regionFlag=='sido'">sidoCd</if><if test="regionFlag=='sggu'">sgguCd</if>=#{regionCode})
        <if test="yadmNm!=''">and ykiho in (select ykiho from hospitalInfo_s where yadmNm like concat('%', #{yadmNm}, '%'))</if>;
    </select>

    <select id="getHospitalInfoList" resultType="com.spring.green2209S_07.vo.HospitalInfoVO">
        select * from hospitalinfo_s where ykiho in (select ykiho from medicalsubjectinfo_s where dgsbjtCd=#{medicalSubjectCode}) and ykiho in (select ykiho from hospitalinfo_s where
        <if test="regionFlag=='sido'">sidoCd</if><if test="regionFlag=='sggu'">sgguCd</if>=#{regionCode})
        <if test="yadmNm!=''">and ykiho in (select ykiho from hospitalInfo_s where yadmNm like concat('%', #{yadmNm}, '%'))</if> order by yadmNm desc limit #{startIndexNo}, #{pageSize};
    </select>

<!--    <select id="getHospitalInfoList" resultType="com.spring.green2209S_07.vo.HospitalInfoVO">-->
<!--        select * from hospitalInfo_s where sgguCdNm='청주서원구' limit 0,10;-->
<!--    </select>-->

    <select id="getMedicalSubjectInfoList" resultType="com.spring.green2209S_07.vo.MedicalSubjectInfoVO">
        select * from medicalSubjectInfo_s where ykiho=#{ykiho};
    </select>

    <select id="getDetailInfoList" resultType="com.spring.green2209S_07.vo.DetailInfoVO">
        select * from detailsInfo_s where ykiho=#{ykiho};
    </select>

    <select id="getSidoList" resultType="com.spring.green2209S_07.vo.HospitalInfoVO">
        select sidoCd, sidoCdNm from hospitalinfo_s group by sidoCd, sidoCdNm;
    </select>
    
    <select id="getSgguList" resultType="com.spring.green2209S_07.vo.HospitalInfoVO">
        select sgguCd,sgguCdNm from hospitalInfo_s where substring(sgguCd,1,2)=substring(#{sidoCd},1,2) group by sgguCd,sgguCdNm;
    </select>

<!-- 병원 상세 정보 페이지 관련 처리 -->

    <select id="getHositalInfo" resultType="com.spring.green2209S_07.vo.HospitalInfoVO">
        select * from hospitalInfo_s where ykiho=#{ykiho};
    </select>
    
    <select id="getDetailInfo" resultType="com.spring.green2209S_07.vo.DetailInfoVO">
        select * from detailsInfo_s where ykiho=#{ykiho};
    </select>

</mapper>